
<div class="all">

  <h4>EMANUEL CUNHA</h4>

  <h4>DESENVOLVIMENTO WEB E MULTIMÉDIA</h4>
  </div>



  <div class="wrap">
    <div (click)="play()" class="p" #teste>

      <div class="text" #contato>
        <div class="text2">
        <p   > CONTACT </p>
        <p > ABOUT </p>
        <p > WORK </p>
      </div>
        </div>

    <div class="wrap2" (mouseenter)="changeLeft(contato)" (mouseleave)="changeBack(contato)"><h1></h1></div>
    <div class="wrap4" (mouseenter)="changeBack(teste)"></div>
    <div class="wrap3" (mouseenter)="changeRight(contato)" (mouseleave)="changeBack(contato)"><h1></h1> </div>


    </div>


    <h1 class="left">&lt;</h1>
    <h1 class="right">&gt;</h1>








</div>
